body {
	padding: 0px 0px;
	margin: 0px 0px;
	background: #9ce1b0;
	min-height: 400px;
	min-width: 1080px;
}

.grid {
	position: fixed;
	padding: 0px 0px;
	margin: 0px 0px;
	width: 100%;
	height: 100px;
	background-color: #000000;
}

.grid #logo img{
	padding-top: 15px;
	padding-left: 60px;
	width: 80px;
	height: 70px;
}

.nav {
	position: fixed;
	top: 55px;
	right:0;
	width:100%;
	text-align: right;
	}

.nav li {
	display: inline-block;
	font-family: tahoma;
	list-style: none;
	padding: 0px 40px;
}

.nav li a {	
	color:white;
	text-decoration: none;

}
 /*left side body slideshow*/

 /*#slideshow {
 	display: block;
 	width: 100%;
 	height: 100px;
 }*/

/*#slideshow img {
	position: relative;
	top: 120px;
	left: 140px;
	width:280px;
	height: 280px;
}*/

#slideshow {
	margin: 0px auto;
	position: absolute;
	width: 240px;
	height: 240px;
	padding: 0px;
}

#slideshow > div {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

#slideshow img {
	position: absolute;
	left: 150px;
	top: 130px;
	width: 300px;
	height: 300px;
}
