/*1em=16px*/
@charset "UTF-8";
body {
	padding: 0px 0px;
	margin: 0px 0px;
	}

.navbar {
	padding: 0;
	margin: 0;
	height: 100px;
	background:	#f7ce6b;
}

#logo {
	padding-top: 20px;
	padding-left: 0px;
}

#logo img{
	padding: 0;
	margin: 0;
	height:60px;
	width: 70px;
}

.navs {
	font-family: 'Cantarell', sans-serif;
	float: right;
	position: relative;
	top: 20px;
	/*right: 20px;*/
	font-size: 24px;	
	list-style: none;
	display: block;
}

@media (min-width: 300px) and (max-width: 499px) {
	.navs li {
		color: white;
		margin: 1.2em 0 0 .4em;
		float: left;
	}
}

@media (min-width: 500px) and (max-width: 900px) {
	.navs li {
		color: white;
		margin: 1.2em 0 0 .7em;
		float: left;
	}
}

@media (min-width: 901px) {
	.navs li {
		color: white;
		margin: 1.2em 0 0 1.2em;
		float: left;
	}
}

@media (min-width: 1200px) {
	.navs li {
		color: white;
		margin: 1.2em 0 0 2.4em;
		float: left;
	}
}

/*bio*/

.aboutme{
	margin-bottom: 40px;
	min-height: 450px;
	background: #d7e8e7;
}

.aboutme p {
	padding-right: 20px;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
}

#slideshow {
	position: relative;
	margin: 0px 0px;
	padding: 0px;
}

.hidden {
	display: none;
}

#slideshow img {
	position: absolute;
	height: auto;
}

@media (min-width: 300px) {
	#slideshow {
		margin: 0 3%;
		padding: 40px 0 0 0px;
	}
}

@media (min-width: 350px) {
	#slideshow {
		padding: 30px 0px 10px 0px;
	}
}

@media (min-width: 400px) {
	#slideshow {
		padding: 40px 0 0 20px;
	}
}

@media (min-width: 430px) and (max-width: 499px) {
	#slideshow {
		padding: 40px 0 0 10%;
	}
}

@media (min-width: 500px) and (max-width: 599px) {
	#slideshow {
		padding: 40px 0 0 18%;
	}
}

@media (min-width: 600px) and (max-width: 799px) {
	#slideshow {
		padding: 40px 0 0 25%;
	}
}

@media (min-width: 800px) and (max-width: 1023px) {
	#slideshow {
		padding: 35px 0 0 30%;
	}
}

#hello {
	font-family: 'Paytone One', sans-serif;
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	font-style: helvetica;
	font-size: 10em;
}

@media (min-width: 150px) and (max-width: 369px) {
	#hello {
		font-size: 5em;
		padding-top: 300px;
		margin-bottom: -15px;
	}
}

@media (min-width: 370px) and (max-width: 450px) {
	#hello {
		font-size: 7em;
		padding-top: 310px;
		margin-bottom: -15px;
	}
}

@media (min-width: 451px) and (max-width: 600px) {
	#hello {
		font-size: 7em;
		padding-top: 315px;
		margin-bottom: -15px;
	}
}

@media (min-width: 601px) and (max-width: 639px) {
	#hello {
		font-size: 7em;
		padding-top: 320px;
		margin-bottom: -15px;
	}
}

@media (min-width: 640px) and (max-width: 1023px) {
	#hello {
		font-size: 8em;
		padding-top: 330px;
		margin-bottom: -15px;
	}
}

/*@media (min-width: 701px) and (max-width: 899px) {
	#hello {
		font-size: 6em;
		margin-bottom: -15px;
	}
}

@media (min-width: 900px) {
	#hello {
		font-size: 7.4em;
		padding-top: 10px;
	}
}*/

@media (min-width: 300px) and (max-width: 1023px) {
	.small-12.medium-12.large-6.columns.text {
		float: none;
		padding-bottom: 1px;
	}
}

.thework {
	position: relative;
	height: auto;
	width: 100%;
}

.compname {
	display: none;
	position: absolute;
	text-align: center;
}

@media (min-width: 300px) {
	.thework img {
		padding: 5px;
		height: auto;
		width: 100%;	
	}
}

.theworks {
	padding: 0px;
	height: auto;
	width: 100%;
}


@media (min-width: 300px) {
	.theworks img {
		padding: 5px 0px;
		height: auto;
		width: 100%;	
	}
}

.tqworks {
	padding: 0 100px;
	text-align: center;
	height: auto;
	width: 100%;
}

.bottom {
	padding: 0;
	margin-top: 30px;
	min-height: 7.5em;
	background: #f7ce6b;
	/*background: #f0d690;*/
}

.foot {
	padding: 0;
	margin: 0;
	text-align: center;
}

.foot img{
	padding: 0;
	margin: 20px 35px;
	width: 75px;
}

@media (min-width: 150px) and (max-width: 320px) {
	.foot img{
		padding: 0;
		margin: 20px 10px;
		width: 75px;
		}
}

@media (min-width: 330px) and (max-width: 500px) {
	.foot img{
		padding: 0;
		margin: 20px 20px;
		width: 75px;
		}
}

h3 {
	margin: 10px 0;
	font-family: 'Cantarell', sans-serif;
}

p {
	font-family: 'Cantarell', sans-serif;
}

.play {
	float: right;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
	padding-bottom: 15px;
}

.play:hover {
	float: right;
	font-family: 'Cantarell', sans-serif;
	color: black;
	font-size: 20px;
	padding-bottom: 15px;
}

ul {
	font-family: 'Cantarell', sans-serif;
}

footer {
	margin-top: 10px;
	height: 75px;
	width: 100%;
	background-color: #f7ce6b;
}

@media (min-width: 200px) and (max-width: 600px) {
	footer {
		height: 45px;
	}
}

.moveright {
	float: right;
}

#slides {
	margin-bottom: 10px;
}

#slides .slidesjs-navigation {
	margin-top:3px;
}

#slides .slidesjs-previous {
	margin-right: 5px;
	float: left;
}

#slides .slidesjs-next {
	margin-right: 5px;
	float: left;
}

.slidesjs-pagination {
	margin: 6px 0 0;
	float: right;
	list-style: none;
}

.slidesjs-pagination li {
	float: left;
	margin: 0 1px;
}

.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(../image/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
	background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
	background-position: 0 -26px;
}

#slides a:link,
#slides a:visited {
	color: black;
}

#slides a:hover,
#slides a:active {
	color: #9e2020;
}

#dogmockimg {
	margin-bottom: 10px;
}