/*1em=16px*/

body {
	padding: 0px 0px;
	margin: 0px 0px;
	}
/*dropdown*/

.navbar {
	padding: 0;
	margin: 0;
	height: 100px;
	background:	white;
}

#logo {
	padding-top: 20px;
	padding-left: 40px;
}

#logo img{
	padding: 0;
	margin: 0;
	height:60px;
	width: 70px;
}

ul{
	font-size: 20px;	
	list-style: none;
	display: inline-block;
}

ul li {
	margin: 0 0 0 2.5em;
	float: left;
}
.slides {
	margin: 50px;
}

.aboutme{
	box-shadow: 0px 0px 7px .5px rgba(0, 0, 0, .5);
	min-height: 450px;
	background: #9ce1b0;
}

.row img {
	margin: 0px;
	padding: 0px;
	width: 350px;
	height: 350px;
}

#hello {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	font-style: helvetica;
	font-size: 10em;
}

.thework img {
	padding: 0;
	margin-top: 50px;
	height: 350px;
	width: 600px;
}

.bottom {
	padding: 0;
	margin-top: 50px;
	min-height: 7.5em;
	background: #9ce1b0;
}

.foot {
	padding: 0;
	margin: 0;
	text-align: center;
}
.foot img{
	padding: 0;
	margin: 20px 35px;
	height: 75px;
	width: 75px;
}

/*embrace*/

.embracepage img {
	min-height: 350px;
	min-width: 1200px;
}
/*.dropbtn {
	background-color: transparent;
	padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }

.dropbtn img {
	width: 50px;
	height: 50px;
}

.dropdown {
    position: fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    min-width: 10px;
}

.dropdown-content img {
	height: 50px;
	width: 50px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/

/*change image
#slideshow {
	margin: 0px 0px;
	padding: 0px;
}

#slideshow > div {
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

#slideshow img {
	float: left;
	position: absolute;
	left: 130px;
	top: 90px;
	width: 320px;
	height: 320px;
}
*/

/*right side text

.right {
	height: 600px;
	padding-top: 10px;
	padding-right: 120px;
	margin-bottom: -30px;
}

.right #parr {
	font-family: tahoma;
	color: black;
	display: block;
	text-align: left;
	font-size: 24px;
	width: 600px;
	float: left;
}

.right #parr span {
	font-style: italic;
	padding-left: 180px;
	font-family: garamond;
	text-align: center;
	font-size: 80px;
}
*/

/*portfolio*/

/*.gallery {
	height: 1000px;
	max-width: 1800px;
	background-color: red;
}

.row1 {
	
	background-color: blue;
	max-width: 1800px;
	height: 500px;
}

.row2 {
	
	background-color: green;
	max-width: 1800px;
	height: 500px;
}

.row1 .img1 {
	text-align: center;
	background-color: black;
	color: white;
	float: left;
	width: 50%;
	height: 500px;
}

.img1 p {

	font-size: 35px;
	padding: 100px;
}
.row1 .img2 {
	background-image: url("../image/2.png");
	background-position: -85px 0;
	float: left;
	background-color: white;
	width: 50%;
	height: 500px;

}

.row2 .img3 {
	background-image: url("../image/3.jpg");
	background-position: -500px -600px;
	float: left;
	background-color: red;
	width: 15%;
	height: 500px;
}

.row2 .img4 {
	background-image: url("../image/4.png");
	background-position: -500px -600px;
	float: left;
	background-color: blue;
	width: 15%;
	height: 500px;
}

.row2 .img5 {
	background-image: url("../image/5.png");
	background-position: -300px -100px;
	float: left;
	width: 45%;
	height: 500px;
	background-color: black;
}

.row2 .img6 {
	background-image: url("../image/6.png");
	background-position: -500px -600px;
	float: left;
	width: 25%;
	height: 250px;
	background-color: purple;
}

.row2 .img7 {
	background-image: url("../image/7.jpg");
	background-position: -500px -600px;
	float: left;
	width: 25%;
	height: 250px;
	background-color: orange;
}*/


/*#gallery {
  max-width: 100%;
  min-height: 450px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  text-align: left;
  background-color: white;
}

.topgal {
	padding-top: 8px;
}

.topgal > div {
	display: inline-block;
	margin-left: 0px;
	margin-right: 10px;
}

.gal-img {
	max-height: 300px;
	min-width: 400px;
}*/

/*footer

footer {
	text-align: center;
	min-width: 1080px;
	min-height: 20px;
	background-color: #9ce1b0;
}
*/
