/*1em=16px*/

body {
	padding: 0px 0px;
	margin: 0px 0px;
	}

.navbar {
	padding: 0;
	margin: 0;
	height: 100px;
	background:	#f7ce6b;
}

#logo {
	padding-top: 20px;
	padding-left: 0px;
}

#logo img{
	padding: 0;
	margin: 0;
	height:60px;
	width: 70px;
}

.navs {
	font-family: 'Cantarell', sans-serif;
	float: right;
	position: relative;
	top: 20px;
	/*right: 20px;*/
	font-size: 24px;	
	list-style: none;
	display: block;
}

@media (min-width: 300px) and (max-width: 470px) {
	.navs li {
		color: white;
		margin: 1.2em 0 0 .4em;
		float: left;
	}
}

@media (min-width: 500px) and (max-width: 890px) {
	.navs li {
		color: white;
		margin: 1.2em 0 0 .4em;
		float: left;
	}
}

@media (min-width: 900px) {
	.navs li {
		color: white;
		margin: 1.2em 0 0 2.5em;
		float: left;
	}
}

/*bio*/

.aboutme{
	margin-bottom: 40px;
	min-height: 450px;
	background: #dbebea;
}

.aboutme p {
	padding-right: 20px;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
}

#slideshow {
	position: relative;
	margin: 0px 0px;
	padding: 0px;
}

.hidden {
	display: none;
}

#slideshow img {
	position: absolute;
	height: auto;
}

@media (min-width: 300px) {
	#slideshow {
		margin: 0 3%;
		padding: 40px 0 0 0px;
	}
}

@media (min-width: 350px) {
	#slideshow {
		padding: 30px 0px 10px 0px;
	}
}

@media (min-width: 400px) {
	#slideshow {
		padding: 40px 0 0 20px;
	}
}

@media (min-width: 600px) {
	#slideshow {
		padding: 40px 0 0 0px;
	}
}

@media (min-width: 900px) {
	#slideshow {
		padding: 40px 0 0 30px;
	}
}

#hello {
	font-family: 'Paytone One', sans-serif;
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	font-style: helvetica;
	font-size: 10em;
}

/*mobile*/
@media (min-width: 150px) and (max-width: 365px) {
	#hello {
		font-size: 7em;
		padding-top: 300px;
		margin-bottom: -15px;
	}
}

/*iphone6*/
@media (min-width: 370px) and (max-width: 450px) {
	#hello {
		font-size: 7em;
		padding-top: 350px;
		margin-bottom: -15px;
	}
}

/*tablet*/
@media (min-width: 500px){
	#hello {
		font-size: 110px;
		padding-top: 10px;
	}
}
/*Desktop*/
@media (min-width: 900px) {
	#hello {
		font-size: 10em;
		padding-top: 10px;
	}
}

@media (min-width: 300px) and (max-width: 700px) {
	.small-12.medium-6.large-6.columns.text {
		float: none;
		padding-bottom: 1px;
	}
}

.thework {
	position: relative;
	height: auto;
	width: 100%;
}

.compname {
	display: none;
	position: absolute;
	text-align: center;
}

@media (min-width: 300px) {
	.thework img {
		padding: 5px;
		height: auto;
		width: 100%;	
	}
}

.theworks {
	padding: 0px 50px;
	height: auto;
	width: 100%;
}


@media (min-width: 300px) {
	.theworks img {
		padding: 5px 0px;
		height: auto;
		width: 100%;	
	}
}

.tqworks {
	padding: 0 100px;
	text-align: center;
	height: auto;
	width: 100%;
}

.bottom {
	padding: 0;
	margin-top: 30px;
	min-height: 7.5em;
	background: #f7ce6b;
	/*background: #f0d690;*/
}

.foot {
	padding: 0;
	margin: 0;
	text-align: center;
}
.foot img{
	padding: 0;
	margin: 20px 35px;
	height: 75px;
	width: 75px;
}

h3 {
	margin: 10px 0;
	font-family: 'Cantarell', sans-serif;
}

p {
	font-family: 'Cantarell', sans-serif;
}

.play {
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
	padding-bottom: 15px;
}

.play:hover {
	font-family: 'Cantarell', sans-serif;
	color: black;
	font-size: 20px;
	padding-bottom: 15px;
}

.macslide{
	height: 645px;
	position: relative;
}

@media (min-width: 100px) and (max-width: 350px) {
	.macslide{
		height: 180px;
		position: relative;
	}
}

@media (min-width: 360px) and (max-width: 450px) {
	.macslide{
		height: 225px;
		position: relative;
	}
}

@media (min-width: 460px) and (max-width: 600px) {
	.macslide{
		height: 420px;
		position: relative;
	}
}

@media (min-width: 605px) and (max-width: 800px) {
	.macslide{
		height: 480px;
		position: relative;
	}
}

@media (min-width: 805px) and (max-width: 1080px) {
	.macslide{
		height: 480px;
		position: relative;
	}
}

@media (min-width: 1081px) and (max-width: 1300px) {
	.macslide{
		height: 600px;
		position: relative;
	}
}

.mslide{
	position: absolute;
	left: 0;
}

ul {
	font-family: 'Cantarell', sans-serif;
}

footer {
	margin-top: 10px;
	height: 75px;
	width: 100%;
	background-color: #f7ce6b;
}

.moveright {
	float: right;
}