/*1em=16px*/

body {
	padding: 0px 0px;
	margin: 0px 0px;
	}
/*dropdown*/

.navbar {
	padding: 0;
	margin: 0;
	height: 100px;
	background:	white;
}

#logo {
	padding-top: 20px;
	padding-left: 40px;
}

#logo img{
	padding: 0;
	margin: 0;
	height:60px;
	width: 70px;
}

ul{
	float: right;
	position: relative;
	top: 30px;
	right: 20px;
	font-size: 20px;	
	list-style: none;
	display: block;
}

@media (min-width: 300px) {
	ul li {
		margin: 1.2em 0 0 .7em;
		float: left;
	}
}

@media (min-width: 900px) {
	ul li {
		margin: 1.2em 0 0 2.5em;
		float: left;
	}
}

/*bio*/

.aboutme{
	margin-bottom: 30px;
	min-height: 450px;
	background: #9ce1b0;
}

.aboutme p {
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
}

#slideshow {
	margin: 0px 0px;
	padding: 0px;
}

.hidden {
	display: none;
}

#slideshow img {
	position: absolute;
	width: 350px;
	height: 350px;
}

/*@media (min-width: 300px) {
	#slideshow img {
		top: 110px;
		left: 0;
		padding: 10px;
		height: auto;
		width: auto;
	}
}*/
@media (min-width: 300px) {
	#slideshow {
		margin: 0;
		padding: 40px 0 0 0px;
	}
}

@media (min-width: 350px) {
	#slideshow {
		padding: 30px 0px 10px 0px;
	}
}

@media (min-width: 400px) {
	#slideshow {
		padding: 40px 0 0 20px;
	}
}

@media (min-width: 600px) {
	#slideshow {
		padding: 40px 0 0 0px;
	}
}

@media (min-width: 900px) {
	#slideshow {
		padding: 40px 0 0 30px;
	}
}

#hello {
	font-family: 'Paytone One', sans-serif;
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	font-style: helvetica;
	font-size: 10em;
}

/*mobile*/
@media (min-width: 150px) {
	#hello {
		font-size: 7em;
		padding-top: 300px;
		margin-bottom: -15px;
	}
}

/*iphone6*/
@media (min-width: 370px) {
	#hello {
		font-size: 7em;
		padding-top: 350px;
		margin-bottom: -15px;
	}
}

/*tablet*/
@media (min-width: 500px) {
	#hello{
		padding-top: 10px;
	}
}
/*Desktop*/
@media (min-width: 900px) {
	#hello {
		font-size: 10em;
		padding-top: 10px;
	}
}

.thework {
	height: auto;
	width: 100%;
}


@media (min-width: 300px) {
	.thework img {
		padding: 5px;
		height: auto;
		width: 100%;	
	}
}


/*box-shadow: 0px 0px 7px .5px rgba(0, 0, 0, .5);*/

.theworks {
	padding: 0px 50px;
	height: auto;
	width: 100%;
}


@media (min-width: 300px) {
	.theworks img {
		padding: 5px;
		height: auto;
		width: 100%;	
	}
}

.tqworks {
	padding: 0 100px;
	text-align: center;
	height: auto;
	width: 100%;
}

.bottom {
	padding: 0;
	margin-top: 30px;
	min-height: 7.5em;
	background: #9ce1b0;
}

.foot {
	padding: 0;
	margin: 0;
	text-align: center;
}
.foot img{
	padding: 0;
	margin: 20px 35px;
	height: 75px;
	width: 75px;
}

/*embrace*/
