body {
	padding: 0;
	margin: 0;
}
button {
	border: none;
}

img {
	position: absolute;
	left: 350px;
	padding-top: 30px;
	width: 30%;
}

/*mobile*/
@media (min-width: 300px) and (max-width: 420px) {
	img {
		width: 90%;
		left: 15px;
	}
}

#doge2 {
	position: relative;
}

#tail {
	z-index: -1;
}