body {
	padding: 0;
	margin: 0;
}
button {
	border: none;
}

img.doge {
	position: absolute;
	left: 250px;
	padding-top: 30px;
	width: 30%;
}

/*mobile*/
@media (min-width: 300px) and (max-width: 420px) {
	img.doge {
		width: 90%;
		left: 15px;
	}
}

#doge2 {
	position: relative;
}

#forest {
	background: url('../image/forest.png');
}