body {
	background: url("../image/forest.png") no-repeat center center fixed; 
	background-size: cover;
	padding: 0;
	margin: 0;
}
button {
	border: none;
}

img.doge {
	position: absolute;
	left: 485px;
	top: 480px;
	width: 30%;
}

/*small screen laptops*/
@media (min-width: 1080px) and (max-width: 1400px) {
	img.doge {
		width: 28%;
		top: 310px;
		left: 455px;
	}
}

#doge2 {
	position: relative;
}