body {
	padding: 0;
	margin: 0;
}

.opening {
	background-color: black;
	color: white;
	height: 100%;
	text-align: center;
}

.move {
	width: 16%;
	display: none;
}

h1 {
	font-family: 'Press Start 2P', cursive;
}

button {
	margin-top: 70px;
	margin-left: 90px;
	font-size: 25px;
	font-family: 'Press Start 2P', cursive;
	float: left;
}

/*mobile*/
@media (min-width: 250px) and (max-width: 300px) {
	.opening h1{
		font-size: 28px;
		padding-top: 175px;
	}
}

@media (min-width: 350px) and (max-width: 390px) {
	.opening h1{
		font-size: 34px;
		padding-top: 215px;
	}
}

@media (min-width: 400px) and (max-width: 600px) {
	.opening h1{
		font-size: 38px;
		padding-top: 245px;
	}
}

/*tablet*/
@media (min-width: 750px) and (max-width: 900px) {
	.opening h1 {
		font-size: 40px;
		padding-top: 300px;
	}
}

@media (min-width: 950px) {
	.opening h1 {
		font-size: 50px;
		padding-top: 200px;
	}
}

.text {
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
	height: 100%;
}

/*mobile*/
@media (min-width: 250px) {
	.text2 {
		font-size: 12px;
		margin: 0;
		padding: 20px;
	}
}

@media (min-width: 350px) {
	.text2 {
		font-size: 14px;
		margin: 0;
		padding: 20px;
	}
}

@media (min-width: 400px) {
	.text2 {
		font-size: 15px;
		margin: 0;
		padding: 20px;
	}
}

/*laptop*/
@media (min-width: 1000px) {
	.text2 {
		font-size: 22px;
	}
}

.controls {
	padding-top: 250px;
	text-align: center;
}

#sign {
	margin-left: 10px;
	float: left;
	width: 23%;
}

.skull {
	width: 20%;
}

@media (min-width: 300px) and (max-width: 600px) {
	.skull {
		width: 50%;
	}
}

@media (min-width: 700px) and (max-width: 900px) {
	.skull {
		width: 30%;
	}
}

a h1 {
	text-decoration: none;
	color: white;
}

a h1:active {
	text-decoration: none;
	color: white;
}

@media (min-width: 700px) and (max-width: 900px) {
	.opening .tryAgain h1 {
		font-size: 60px;
	}
}

.win {
	width: 13%;
}

a h2.tryA {
	font-family: 'Press Start 2P', cursive;
	font-size: 30px;
	text-decoration: none;
	color: white;
}

.tryAgain h1 {
	padding-top: 100px;
}

@media (min-width: 300px) and (max-width: 500px) {
	.tryAgain h1 {
	padding-top: 200px;
	font-size: 30px;
	}
}

@media (min-width: 300px) and (max-width: 500px) {
	a h2.tryA {
		font-family: 'Press Start 2P', cursive;
		font-size: 20px;
		text-decoration: none;
		color: white;
	}
}