body {
	padding: 0;
	margin: 0;
}

.opening {
	background-color: black;
	color: white;
	height: 100%;
	text-align: center;
}

.move {
	width: 15%;
	display: none;
}

h1 {
	font-family: 'Press Start 2P', cursive;
}

button {
	margin-top: 70px;
	margin-left: 90px;
	font-size: 25px;
	font-family: 'Press Start 2P', cursive;
	float: left;
}

/*mobile*/
@media (min-width: 250px) {
	.opening h1{
		font-size: 28px;
		padding-top: 175px;
	}
}

@media (min-width: 350px) {
	.opening h1{
		font-size: 34px;
		padding-top: 215px;
	}
}

@media (min-width: 400px) {
	.opening h1{
		font-size: 38px;
		padding-top: 245px;
	}
}

/*tablet*/
@media (min-width: 750px) {
	.opening h1 {
		font-size: 40px;
		padding-top: 300px;
	}
}

@media (min-width: 950px) {
	.opening h1 {
		font-size: 50px;
		padding-top: 200px;
	}
}

.text {
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
	height: 100%;
}

/*mobile*/
@media (min-width: 250px) {
	.text2 {
		font-size: 12px;
		margin: 0;
		padding: 20px;
	}
}

@media (min-width: 350px) {
	.text2 {
		font-size: 14px;
		margin: 0;
		padding: 20px;
	}
}

@media (min-width: 400px) {
	.text2 {
		font-size: 15px;
		margin: 0;
		padding: 20px;
	}
}

/*laptop*/
@media (min-width: 1000px) {
	.text2 {
		font-size: 22px;
	}
}

.controls {
	padding-top: 250px;
	text-align: center;
}